#container{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;  
}
#top {
    border-radius: 4px;
   

}

#bottom {
    border-radius: 4px;
    background-color: #c2dfef;
   
}

#left {
    float: left;
    padding: 5px;
   
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    
}

.center_content {
    
    background-color: #dddddd;
    padding: 5px;
   
}

.left_content {
    background-color: #dddddd;
    padding: 1px;  
    width: auto;
    border-radius: 4px;
}

#content{
    
    border-radius: 4px;
}
.right_content {
    background-color: white;
    
    
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
    border-radius: 4px;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

#dvHome{
    
    
    
}
.tabela{
    border: 1px solid black;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  15px;
    font-weight: bold;
}
.tabelacabecalho{
    text-align: center;
    font:14px Arial, sans-serif;
    font-weight: bold;
    color: white;
    background: #0275d8;
    border-radius: 4px;
    

}

.tabelaColunaId{
    text-align: center;
    width: 50px;
   
}

.tabelaColuna150px{
    width: 150px;
    
    text-align: center;

}

.tabelaColuna250px{
    width: 250px;
    
    text-align: center;
}



.tabelaColunaPreco{
    text-align: center;
    width: 100px;
  
    text-align: center;
}

.tabelaColuna100px{
    width: 100px;
    
    text-align: center;
}
#rodape{
   
}
#indexGrid{
    align-content: center;
    margin-bottom: inherit;
    margin-top: 0px;
    margin-left: inherit;
    margin: auto;
}

#bodyIndex{
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    
}
#cabecalho{
   border-radius: 4px;
  
   width: 100%;
}



